

<div class="container">
    <app-navbar></app-navbar>
    <div class="identicador">
        <h6>Contáctanos</h6>
    </div>
    <div class="formulario">
        <div class="form">
            <form>
                <h1>Contáctanos</h1>
                <div class="form-group">
                    Nombre<br>
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                    Email <br>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    Tipo de servicio que quiere <br>
                    <select class="form-control">
                        <option>-</option>
                        <option>Gestión humana</option>
                        <option>Contaduria</option>
                        <option>Preguntar a maikol</option>
                    </select>
                </div>
                <div class="form-group">
                    <br>
                    <input type="text" class="form-control2" placeholder="Mensaje">
                </div>
                <button type="submit" >Enviar</button>
            </form>
        </div>
        <div>
            <img src="assets/pexels-mart-production-7709208.jpg" class="img">
        </div>
    </div>
    <div class="mapa">
        <h1>Dónde estamos</h1>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=12RzS2sOjsoWWAgtc_tNj9JyfjA7mLZU&ehbc=2E312F" width="1460" height="680" class="mapG"></iframe>
    </div>

    <app-footer></app-footer>
</div>