
.container{
    width: 100.8%;
    height: 100%;
    margin: -8.1px;
}

.profile{
    height: 80px;
    width: 100%;  
    background-color: #8CD50A;  
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 20px;
    cursor: pointer;
    
}

.svgProfile{
    float: right;
    margin-left: 10px;
    margin-right: 40px;
   
}

.circle{
    float: left;
    background-color: #ffffff;
    height: 58px;
    width: 58px;
    border-radius: 50%;
}
.welcome{     
    float: right;
    width: 92%;     
    height: 100%;       
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head{
    width: 100%;    
    height: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    background-color: #8CD50A;
}

.welcome .head h1{
    font-family: 'Oswald', sans-serif;
    font-size: 56px;
    margin-bottom: 0;
    margin-top: 0;
    color: white
}

.welcome .head p{
    font-family: 'open sans', sans-serif;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0;
    color: #4A20D6;
    font-weight: 600;
}

.welcome .head input[type="search"]{
    height: 39px;
    width: 559px;
    border-radius: 50px ;
    border-color: #8CD50A;
    background-color: #fff;
    border: none;
    margin-top: 15px;
    outline: none;
    font-size: 16px;
    padding-left: 20px;  
    font-family: 'open sans', sans-serif;  
}

::placeholder{
    color: rgb(153, 149, 149);
    font-family: 'open sans', sans-serif;
    font-size: 16px;
}

.contenido{
    width: 100%;
    height: 100%;    
    text-align: center;
    padding-top: 60px;
}

.preguntas{   
    width: 50%;  
    height: 100%;
    float: left; 
}

.contenido h1{
    font-family: 'open sans', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #4A20D6;
    font-weight: bolder;
}

.cuadro{   
    border-radius: 15px; 
    width: 448px;
    height: 322px;
    margin: 0 auto;
}

.contacto{
    float: right;
    width: 50%;
    height: 100%;    
}

.cuadro p{
    font-family: 'open sans', sans-serif;
    font-size: 16px;      
    padding-bottom: 15px;
    
    border-bottom: #4A20D6 1px solid;
}
.cuadro p:last-child{
    border-bottom: none;
}
.cuadro .cuadro-der{
    margin: 0 auto;
    float: left;
    width: 50%;
    height: 100%;
    
    
}

.cuadro .cuadro-izq{
    margin: 0 auto;    
    float: left;
    width: 50%;
    height: 100%;
}
.cuadro button[type="submit"] {
    background-color: #8CD50A;
    border: none;
    border-radius: 5px;
    width: 167px;
    height: 29px;
    color: white;
    font-size: 16px;
    font-family: 'Roboto';   
    cursor: pointer;
    margin-top: 45px;
}
.svg{
    padding-top: 10px;
    width: 107px;
}