<div class="container">    
    <app-navbar-vertical></app-navbar-vertical>
    <div class="welcome">
        <div class="head">
            <h1>Hola maikol</h1>
            <p>Bienvenido al portal, ¿Cómo podemos ayudarte?</p>            
            <input type="search" name="busquedamusica" placeholder=" Buscar" class="boton">


        </div>
        <div class="contenido">
            <div class="preguntas">
                <h1>Preguntas frecuentes</h1>
                <div class="cuadro">

                </div>
            </div>
            <div class="contacto">
                <h1>Contacto</h1>
                <div class="cuadro">

                </div>
            </div>
        </div>
    </div>
</div>