<div class="container">    
    <app-navbar-vertical></app-navbar-vertical>
    <div class="welcome">
        <div class="profile">    
    
            <div class="circle">
            </div>
            <svg width="16" height="13" viewBox="0 0 16 13" class="svgProfile" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.73205 12C8.96225 13.3333 7.03775 13.3333 6.26795 12L1.0718 3C0.301997 1.66667 1.26425 -1.46309e-06 2.80385 -1.32849e-06L13.1962 -4.19966e-07C14.7358 -2.8537e-07 15.698 1.66667 14.9282 3L9.73205 12Z"
                    fill="#fff" />
            </svg> 
        </div>

        <div class="head">
            <h1>Hola {{usuario3.nombre}}</h1>
            <p>Bienvenido al portal, ¿Cómo podemos ayudarte?</p>            
            <input type="search" name="busquedamusica" placeholder=" Buscar" class="boton">
        </div>

        <div class="contenido">
            <div class="preguntas">
                <h1>Preguntas frecuentes</h1>
                <div class="cuadro">
                    <p>¿Dónde puedo descargar mis certificados?</p>
                    <p>¿Qué vacantes hay disponibles?</p>
                    <p>Necesito actualizar mis datos</p>
                    <p>Necesito mi desprendible de liquidación </p>
                    <p>¿Dónde puedo mirar las capacitaciones?</p>
                    <p>Cambio de contraseña</p>
                </div>
            </div>
            <div class="contacto">
                <h1>Contacto</h1>
                <div class="cuadro">
                    <div class="cuadro-der">
                        <img src="assets/chat-Wp.svg" class="svg"><br>
                        <button type="submit" class="btn" >Contáctanos
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5 1L17.5 9L10.5 17M1.5 9H17.5H1.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </button>
                    </div>
                    <div class="cuadro-izq">
                        <img src="assets/mail.svg" class="svg"><br>
                        <button type="submit" class="btn" >Escríbenos
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5 1L17.5 9L10.5 17M1.5 9H17.5H1.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>