<div class="container">
    <app-navbar-vertical></app-navbar-vertical>
    <div class="welcome">
        <div class="head">
            <app-profile></app-profile>
            <svg class="icon" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="41" height="41" rx="10" fill="#8CD50A" />
                <path
                    d="M14 22.7321C12.6667 21.9623 12.6667 20.0377 14 19.2679L23 14.0718C24.3333 13.302 26 14.2642 26 15.8038L26 26.1962C26 27.7358 24.3333 28.698 23 27.9282L14 22.7321Z"
                    fill="white" />
            </svg>

            <h1>Documentos</h1>
            <button type="submit" class="active">Desprendibles</button>
            <button type="submit" class="btn">Liquidaciones</button>
            <button type="submit" class="btn">Certificados</button> <br>
            <button type="submit" class="btn">Incapacidades</button>
            <button type="submit" class="btn">Contrato</button>
            <div class="text">
                <p>Desprendibles de nómina</p>
                <p>Selecciona el documento a consultar</p>
                <select class="nomina">
                    <option>Selecciona el documento a consultar</option>
                    <option>Gestión humana</option>
                    <option>Contaduria</option>
                    <option>Preguntar a maikol</option>
                </select><br>
                <button type="submit" class="generar">Ver
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 1L17.5 9L10.5 17M1.5 9H17.5H1.5Z" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                </button>
            </div>



        </div>

    </div>
</div>