<div class="container">
    <app-navbar></app-navbar>
    <div class="identicador">
        <h6>Soy empresa - Ingreso al portal - Nuestra compañia - Cotizador</h6>
    </div>
    <div class="cuadro">
        <div class="contenido">
            <div class="cuadro-der">
                <h1>Tu Alianza, tenemos una larga trayectoria 
                    en la gestión de recursos humanos</h1>
                <p>Completa el formulario para ofrecerte una aproximación de costos acorde a sus necesidades, en cuestión de suministro de personal.</p>
            </div>
            <div class="cuadro-izq">
                <form class="formulario">
                    <input type="text" class="form-control" placeholder="Nombre"><br>
                    <input type="text" class="form-control" placeholder="Cargo"><br>
                    <input type="text" class="form-control" placeholder="Nombre de la empresa"><br>
                    <select class="form-control" >
                        <option>¿Qué servicios necesita cotizar? Elija 1 o varias opciones</option>
                        <option>Gestión humana</option>
                        <option>Contaduria</option>
                        <option>Preguntar a maikol</option>
                    </select>
                    <select class="form-control" >
                        <option>¿Cuántos trabajadores necesitas incorporar?</option>
                        <option>Gestión humana</option>
                        <option>Contaduria</option>
                        <option>Preguntar a maikol</option>
                    </select>
                    <select class="form-control" >
                        <option>¿Para qué cargos?</option>
                        <option>Gestión humana</option>
                        <option>Contaduria</option>
                        <option>Preguntar a maikol</option>
                    </select>
                    <br>
                    <input type="checkbox" class="check"> Acepto terminos y condiciones<br>
                    <button type="submit" >Enviar</button>

                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
