.contenedor {
    margin: -8.1px;
    max-width: 104%;
}

.head {
    width: 100%;
    height: 100px;
    background-color: #8DD603;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    background-color: #8DD603;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.title {
    height: 50px;
    background-color: #8DD603;
    padding-left: 30px;
    margin-top: 10px;
    color: white;
    padding-top: 15px;
}

h1 {
    font-family: Oswald;
    font-size: 30pt;
    margin-top: 0;
    margin-bottom: 0;
}

h1:nth-child(2) {
    /* centrar en la mitad */
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}


.fila1 {
    width: 95%;
    height: 100%;
    /* centrar div horizontalmente */
    margin: 0 auto;
}

/* columna1 el texto de auto acomoda en la pantalla */
.datos {
    width: 100%;
    height: 100%;
    background-color: #F2F3F5;
    display: flex;
    flex-wrap: wrap;
}

.example-section {
    margin-left: 30px;
    margin-bottom: 20px;
}

.example-section h3 {
    font-family: 'Open Sans';
}

.example-margin {
    margin: 0 12px;
}

.example-month-picker .mat-calendar-period-button {
    pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
    display: none;
}

mat-checkbox {
    font-family: 'Open Sans';
    font-size: 12pt;
}

mat-form-field {
    width: 30%;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

mat-datepicker-toggle {
    color: #8DD603;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

mat-datepicker {
    color: #8DD603;
}

.boton {
    height: 51px;
    width: 540px;
    background-color: #8DD603;
    border: none;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 5px;
    font-family: 'Open Sans';
    color: #fff;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
}

.boton2 {
    height: 51px;
    width: 540px;
    background-color: #8DD603;
    border: none;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'Open Sans';
    color: #fff;
    font-size: 13pt;
    font-weight: bold;
    cursor: pointer;
}

.file {
    margin-top: 10px;
}

.input-file {
    display: none;
}

.previo {
    width: 300px;
    height: 200px;
}

/* colocar titulo abajo de la imagen cuando se reduzca la pantalla y centrado en la pantalla*/
@media screen and (max-width: 600px) {

    .titulo {
        font-size: 25pt;
        color: white;
        float: left;
        font-family: Oswald;
        text-align: center;
    }

    .title {
        height: auto;
        padding-bottom: 20px;
    }

    .logo {
        margin-top: 10px;

    }

    .contenedor {
        width: 105%;
        height: 100%;
    }

    .head {
        height: 100px;
        width: 100%;
        box-sizing: content-box;
    }

    .formulario {
        width: 101%;
        height: 100%;

    }

    h3 {
        margin-bottom: 0;
    }

    mat-form-field {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .boton {
        width: 84%;
    }

    .boton2 {
        width: 85%;
        margin-left: 30px;
    }
}

@media screen and (min-width : 1224px) and (max-width : 1824px) {
    .contenedor {
        width: 100%;
        height: 100%;
    }

    .head {
        height: 100px;
        width: 100%;
        box-sizing: content-box;
    }

    .formulario {
        width: 101%;
        height: 100%;

    }

    h3 {
        margin-bottom: 0;
    }

    mat-form-field {
        width: 29.1%;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .boton {
        width: 75%;
    }

    .boton2 {
        width: 85%;
        margin-left: -50px;
    }
    
}