<div class="container">
    <app-navbar></app-navbar>
    <div class="body">
        <img src="assets/pexels-andrea-piacquadio-3863768.jpg" class="img">
        <div class="contenido">
            <h1>Portal de empresas</h1>
            <div class="cuadro">
                <div class="cuadro-izq">                    
                    <p>Somos una empresa multiservicio de gestión 
                        empresarial. Estamos a la vanguardia en busqueda, 
                        selección, capacitación,  contractación, afiliación y  
                        gestión de nómina.
                    </p>
                </div>
                <div class="cuadro-der">                  
                    <button type="submit" (click)="GoToInterestedCompany()">Ingresar al portal de empresas                
                        <svg width="18" class="arrow" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 1L17 9L10 17M1 9H17H1Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            
                    </button>
                </div>
            </div>
        </div>
        

    </div>
    <app-footer></app-footer>
</div>