.container{
    width: 100.8%;
    height: auto;
    margin:-8.1px;
}

.welcome {
    float: right;
    width: 92%;
    height: 100%;
}

.icon {
    float: left;
    padding-right: 15px;
    margin-top: 60px;
}

.head {
    width: 90%;
    padding-left: 150px;
    
}

.welcome .head p{
    width: 92%;
    font-size: 16px;    
    color: #000000;
    font-family: 'open sans';
}

.welcome .head p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: #4A20D6;
    padding-bottom: 10px;
    border-bottom: 1px solid #4A20D6;
}

h1 {
    font-size: 56px;
    font-weight: bold;
    color: #4A20D6;
    font-weight: normal;
    font-family: 'Oswald';
}

h3{
    color: #4A20D6;
    font-family: 'open sans';

}

hr {
    
    float: left;
    width: 90%;
}

.opciones {    
    margin-top: 40px;
    width: 100%;
    display: flex;
}



/*------------------------------------*/

.contenedor{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 279px;
}
.contenedor .cuadro{
    position:relative;    
    cursor: pointer;    
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    width: 250px;
    height: 269px;
    margin-right: 40px;    
    background-color: #8CD50A;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.contenedor .cuadro img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor .cuadro .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4b20d688;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor .cuadro:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor .cuadro .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    margin-top: 200px;
}