<div class="container">
    <app-navbar-vertical></app-navbar-vertical>

    <div class="welcome">
        <div class="head">
            <app-profile></app-profile>
            <svg class="icon" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="41" height="41" rx="10" fill="#8CD50A" />
                <path
                    d="M14 22.7321C12.6667 21.9623 12.6667 20.0377 14 19.2679L23 14.0718C24.3333 13.302 26 14.2642 26 15.8038L26 26.1962C26 27.7358 24.3333 28.698 23 27.9282L14 22.7321Z"
                    fill="white" />
            </svg>

            <h1>Configuración de la cuenta</h1>
            <div class="text">
                <p>Capacítate</p>
                <p>Elige un curso y haz play para comenzar</p>

            </div>     
    </div>
</div>
