<div class="container">
    <app-navbar></app-navbar>
    <div class="identicador">
        <h6>Soy empresa - Ingreso al portal - Nuestra compañia</h6>
    </div>
    <div class="body">
        <div class="imagen">
            <img src="assets/pexels-kampus-production-5940838.jpg" class="img">
        </div>
        <div class="text">
            <h1>
                Nuesta Compañia
            </h1>
            <div class="parrafo">
                <p>Somos una empresa de servicios temporales ubicados en Bogotá,
                    Soacha, Tocancipá y en el Occidente de la Sabana (Facatativá, Madrid
                    y Funza), en zonas estratégicas de fácil acceso.
                </p>
                <p>
                    Nuestro propósito fundamental es el suministro oportuno de personal
                    competente que apoye el logro de los objetivos estratégicos de
                    nuestros clientes, adaptamos y optimizamos continuamente los procesos
                    de acuerdo a las necesidades del cliente de manera efectiva, logrando
                    así su satisfacción y mejorando la rentabilidad de sus empresas.
                </p>
            </div>

            <button type="submit" class="btn-primary">Descargar portafolio
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 1L17 9L10 17M1 9H17H1Z" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>

            <button type="submit" class="btn-primary">Contáctanos
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 1L17 9L10 17M1 9H17H1Z" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>

            <button type="submit" class="btn-primary">Quiero cotizar
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 1L17 9L10 17M1 9H17H1Z" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>
    <div class="service">
        <h1>Servicios</h1>
        <div class="items">
            <div class="services">
                <img src="assets/convocatoria.svg" class="svg">
                <div class="title">
                    <h3> Convocatoria de personal </h3>

                </div>
                <p> Realizamos convocatorias rápidas y efectivas
                    para el personal que necesite. </p>
            </div>
            <div class="services">
         
                    <img src="assets/seleccion.svg" class="svg">
            
                <div class="title">
                    <h3> Selección de personal </h3>
                </div>
                
                    <p> Hacemos selección de personal utilizando
                        herramientas de alto nivel y personal capacitado en lel área.</p>
                
                
            </div>

            <div class="services">
                <img src="assets/contarto.svg" class="svg">
                <div class="title">
                    <h3> Contratación y afiliación </h3>
                </div>
                <p> Se realiza el proceso de contratación bajo los parametros
                    legales, con sus respectivas afiliaciones y prestaciones de ley.</p>
            </div>

            <div class="services">
                
                <img src="assets/g-humana.svg" class="svg">
                <h3> Gestión humana y manejo de nómina </h3>
                <p> Hacemos seguimiento del personal dentro d ela empresa, para
                    otorgar las respectivas incapacidades, solicitudes y descargos.
                    Además se lleva la nómina digital.</p>
            </div>
        </div>
    </div>
    <div class="cotizar">        
        <div class="cuadro-der">
            Tu Alianza, tenemos una larga trayectoria en la gestión de recursos humanos
        </div>
        <div class="cuadro-izq">
            Completa el formulario para ofrecerte una aproximación de costos acorde a sus 
            necesidades, en cuestión de suministro de personal.            
            <button type="submit" >Quiero Cotizar
                <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 2L18.5 10L11.5 18M2.5 10H18.5H2.5Z" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
            </button>
        </div>
    </div>
    
    <div class="satisfaccion">
        <h1>Clientes satisfechos</h1>
        <div class="clientes">
            <div class="cliente">
                <img src="assets/elitteF.jpg" class="svg2">
                <h3> The Elite Flower </h3>
                <p>
                    Hemos trabajado con esta empresa por más de 20 años realizando labores de 
                    servicios temporales, siempre cumpliendo con los requerimientos nacionales 
                    e internacionales que ha requerido el sector floricultor. 
                </p>
            </div>      
            <div class="cliente">
                <img src="assets/sagaro.jpg" class="svgSagaro">
                <h3> Sagaro Flowers </h3>
                <p>
                    Empresa con más de 30 años en el sector floricultor, 
                    con la cual hemos trabajado de la mano en la zona norte de Bogotá. 
                </p>
            </div>     
            <div class="cliente">
                <img src="assets/Comercializadora.jpg" class="svgSagaro" >
                <h3> Comercializadora TS </h3>
                <p>
                    Esta distribuidora de alimentos es un aliado 
                    estratégico tanto para nuestros clientes como para todo el sector de Cundinamarca. 
                </p>
            </div> 
        </div>
    </div>

    <div class="formulario">
        <div class="form">
            <form class="form-con">
                <h1>Contáctanos</h1>
                <div class="form-group">
                    Nombre<br>
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                    Empresa <br>
                    <input type="email" class="form-control" placeholder="Empresa">
                </div>
                <div class="form-group">
                    Correo <br>
                    <input type="email" class="form-control" placeholder="xxxxxxxx@gmail.com">
                </div>
                <div class="form-group">
                    Tipo de servicio que quiere <br>
                    <select class="form-control">
                        <option>-</option>
                        <option>Gestión humana</option>
                        <option>Contaduria</option>
                        <option>Preguntar a maikol</option>
                    </select>
                </div>
                <div class="form-group">
                    <br>
                    <input type="text" class="form-control2" placeholder="Mensaje">
                </div>
                <button type="submit" class="btn" >Enviar</button>
                <div class="info">
                    <ul>
                        <li>  Oficina administrativa:  Cra. 112 N° 18A - 05 </li>
                        <li>  Correo electrónico: contaduria.rtc@gmail.com </li>
                        <li>  Teléfono: 310 251 8014 </li>
                    </ul>
                </div>
            </form>
            
        </div>
        
        <div>
            <img src="assets/EmpresaContact.jpg" class="img3">
        </div>
        
    </div>

    <app-footer></app-footer>
</div>