<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@
20..48,100..700,0..1,-50..200" />
<div class="navbar">
    <div class="navbar-inner">
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="">Inico</a></li>
          <li><a (click)="GotoMeets()">Cónocenos</a></li>
          <li><a (click)="GotoContact()">Contactanos</a></li>
          <li><a (click)="GotToRegistro()">Registrese</a></li>
          <li> <button (click)="GotoFORM()" class="icon-btn" aria-label="Abrir formulario">
  <span class="material-symbols-outlined">note_add</span>
</button></li>
        </ul>
      </div>

    </div>
  </div>
