<div class="nueva-contrasena-container">
  <h2>Nueva Contraseña</h2>
  <form [formGroup]="nuevaContrasenaForm" (ngSubmit)="cambiarContrasena()">
    <mat-form-field appearance="fill">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput formControlName="nuevaContrasena" type="password" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirmar Nueva Contraseña</mat-label>
      <input matInput formControlName="confirmarContrasena" type="password" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="nuevaContrasenaForm.invalid">Cambiar Contraseña</button>
  </form>
  <div *ngIf="exito" class="mensaje-exito">
    ¡Contraseña cambiada exitosamente!
  </div>
  <div *ngIf="error" class="mensaje-error">
    {{ error }}
  </div>
