<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<div class="contenedor">
    <app-navbar-vertical></app-navbar-vertical>
    <div class="welcome">
        <div class="head">
            <app-profile></app-profile>
            <svg class="icon" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="41" height="41" rx="10" fill="#8CD50A" />
                <path
                    d="M14 22.7321C12.6667 21.9623 12.6667 20.0377 14 19.2679L23 14.0718C24.3333 13.302 26 14.2642 26 15.8038L26 26.1962C26 27.7358 24.3333 28.698 23 27.9282L14 22.7321Z"
                    fill="white" />
            </svg>

            <h1>Formación</h1>
            <div class="text">
                <p>Capacítate</p>
                <p>Elige un curso y haz play para comenzar</p>

            </div>

            <div class="progreso">
                <div class="progreso-text">
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" class="svgProgreso"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="38" height="38" rx="19" fill="#8CD50A" />
                        <path
                            d="M19 8C12.95 8 8 12.95 8 19C8 25.05 12.95 30 19 30C25.05 30 30 25.05 30 19C30 12.95 25.05 8 19 8ZM23.62 23.62L17.9 20.1V13.5H19.55V19.22L24.5 22.19L23.62 23.62Z"
                            fill="white" />
                    </svg>
                    <p>Por hacer</p>
                    <p>4 cursos disponibles</p>
                </div>



                <div class="progreso-text">
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" class="svgProgreso"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="38" height="38" rx="19" fill="#8CD50A" />
                        <g clip-path="url(#clip0_0_1)">
                            <path
                                d="M12.5 26.5833H16.8333V11.4166H12.5V26.5833ZM21.1667 11.4166V26.5833H25.5V11.4166H21.1667Z"
                                fill="white" />
                        </g>
                        <defs>
                            <clipPath id="clip0_0_1">
                                <rect width="26" height="26" fill="white" transform="translate(6 6)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <p>Por hacer</p>
                    <p>4 cursos disponibles</p>
                </div>

                <div class="progreso-text">
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" class="svgProgreso"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="38" height="38" rx="19" fill="#8CD50A" />
                        <path d="M16 24.4478L10.75 19.1194L9 20.8955L16 28L31 12.7761L29.25 11L16 24.4478Z"
                            fill="white" />
                    </svg>

                    <p>Por hacer</p>
                    <p>4 cursos disponibles</p>

                </div>
            </div>

            <div class="cursos">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/maizal.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3>Curso 1</h3>
                        <p class="card-text">card title and make up the bulk of the card's content.</p>
                        <svg width="44" class="play" height="44" viewBox="0 0 44 44" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect width="44" height="44" rx="22" fill="white" />
                            <path d="M32.3842 22.0897L16.7761 33.1013L16.8396 10.9887L32.3842 22.0897Z"
                                fill="#4A20D6" />
                        </svg>
                        <p>00 minutos</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/maizal.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3>Curso 2</h3>
                        <p class="card-text">card title and make up the bulk of the card's content.</p>
                        <svg width="44" class="play" height="44" viewBox="0 0 44 44" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect width="44" height="44" rx="22" fill="white" />
                            <path d="M32.3842 22.0897L16.7761 33.1013L16.8396 10.9887L32.3842 22.0897Z"
                                fill="#4A20D6" />
                        </svg>
                        <p>00 minutos</p>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/maizal.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Curso 3</h3>
                    <p class="card-text">card title and make up the bulk of the card's content.</p>
                    <svg width="44" class="play" height="44" viewBox="0 0 44 44" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="44" height="44" rx="22" fill="white" />
                        <path d="M32.3842 22.0897L16.7761 33.1013L16.8396 10.9887L32.3842 22.0897Z" fill="#4A20D6" />
                    </svg>
                    <p>00 minutos</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/maizal.jpg" alt="Card image cap">
                <div class="card-body">
                    <h3>Curso 4</h3>
                    <p class="card-text">card title and make up the bulk of the card's content.</p>
                    <svg width="44" class="play" height="44" viewBox="0 0 44 44" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <rect width="44" height="44" rx="22" fill="white" />
                        <path d="M32.3842 22.0897L16.7761 33.1013L16.8396 10.9887L32.3842 22.0897Z" fill="#4A20D6" />
                    </svg>
                    <p>00 minutos</p>
                </div>
            </div>

        </div>


    </div>
</div>